body {
    min-height: 90vh;
    margin: 0px;
    margin-bottom: 0px;
    justify-content:space-around;

    background-image: url("./imagenes/concrete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contieneTodo {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
  }

#score, #score-gana {
  margin-top: 0px;
margin-bottom: 2px;
  width: 120px;
  height: 19px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-family: monospace;
padding-bottom: 0px;
padding-top: 0px;
  border-radius: 10px;
border-style:double;
border-color: rgb(215, 43, 43);
border-width: 3px;
}


/*FOOTER*/
#footer {
  background-color: black;
  color:white;
  font-family: monospace;
  font-size: 8.9px;
  height: 15px;
  padding-top: 7px;
  padding-left: 10px;
  display: flex;
  align-self: flex-end;
  
}


/*BOTONES*/

  #reglas-button, #gameoverscreen-button, #start-button, #youwonscreen-button  {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: monospace;

  border-radius: 6px;
  border-style:double;
  border-color: rgb(227, 227, 66);
  border-width: 3px;
  }


  #linkafelicitos{

    margin-top: 20px;
    margin-bottom: 0px;
    width: 700px;
    height: 25px;
    background-color: black;
    color: rgb(79, 79, 203);
    text-align: center;
    font-size: 13px;
    font-family: monospace;
    padding-top: 7px;

  border-radius: 6px;
  border-style:double;
  border-color: white;

  }
  #botonesmusica{
    display:flex;
    flex-direction:row;
    justify-content: right;

  }

  #music, #musicof {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    width: 80px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 9px;
    font-family: monospace;

    border-radius: 10px;
    border-style:double;
    border-color: rgb(43, 43, 198);
    border-width: 3px;


  }

  /*IMAGENES*/

  #instrucciones-img, #imgsplash, #felicitospierde, #felicitosgana {
    margin-top: 8px;
    border-radius: 10px;
   
  }


  /*CANVAS*/
#my-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 7px;
  background-color: lightblue;
  border-radius: 10px;
    
  }

#my-splashcanvas {
  background-color: black;
}


/*LO QUE SE VÉ AL INICIO */
#my-canvas, #youwon-screen, #gameover-screen, #instrucciones-screen{
  display: none;

}
